on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build-book:
    name: Build book
    runs-on: ubuntu-24.04
    env:
      MDBOOK_VERSION: 0.5.2
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install mdBook
        uses: taiki-e/install-action@3d30e7d625f7c928dccd48823053b03bb2f6ed05 # v2.65.4
        with:
          tool: mdbook@${{ env.MDBOOK_VERSION }}
      - name: Build with mdBook
        run: mdbook build book
      - name: Deploy to Sandhole
        if: github.ref == 'refs/heads/main'
        uses: up9cloud/action-rsync@e5f52e6a78755fa0ddbfd2d52f61de0490661665 # master
        env:
          SOURCE: book/book/
          HOST: ${{ secrets.BOOK_SSH_HOST }}
          PORT: ${{ secrets.BOOK_SSH_PORT }}
          USER: ${{ secrets.BOOK_SSH_USER }}
          KEY: ${{ secrets.BOOK_SSH_KEY }}
          TARGET: ${{ secrets.BOOK_SSH_TARGET }}
