on:
  push:
    tags: ["v*.*.*"]

env:
  RUST_VERSION: "1.92.0"
  CARGO_INCREMENTAL: "0"
  CARGO_PROFILE_TEST_DEBUG: "0"

jobs:
  publish-to-crates-io:
    name: Publish to crates.io
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: true
      - name: Authenticate
        uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # v1.0.3
        id: auth
      - name: Publish
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}

  build-linux:
    name: Build for Linux via Docker
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/build.yml
    secrets:
      dockerhub-push-token: ${{ secrets.DOCKERHUB_PUSH_TOKEN  }}
      ghcr-push-token: ${{ secrets.GITHUB_TOKEN }}

  build-macos:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: macos-15-intel
            target: x86_64-apple-darwin
            key: macos-amd64
          - runner: macos-15
            target: aarch64-apple-darwin
            key: macos-arm64
    name: Build for ${{ matrix.platform.key }}
    runs-on: ${{ matrix.platform.runner }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: true
      - name: Fetch MSRV and add target
        run: |
          rustup toolchain install ${RUST_VERSION}
          rustup override set ${RUST_VERSION}
          rustup target add ${{ matrix.platform.target }}
      - name: Build
        run: |
          cargo build --release --locked --target ${{ matrix.platform.target }}
          mkdir dist
          cp target/${{ matrix.platform.target }}/release/sandhole dist/sandhole-${{ matrix.platform.key }}
      - name: Upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: sandhole-${{ matrix.platform.key }}
          path: dist

  build-windows:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: windows-latest
            target: x86_64-pc-windows-msvc
            key: windows-amd64
    name: Build for ${{ matrix.platform.key }}
    runs-on: ${{ matrix.platform.runner }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: true
      - name: Fetch MSRV and add target
        run: |
          rustup toolchain install ${RUST_VERSION}
          rustup override set ${RUST_VERSION}
          rustup target add ${{ matrix.platform.target }}
      - name: Build
        shell: bash
        run: |
          cargo build --release --locked --target ${{ matrix.platform.target }}
          mkdir dist
          cp target/${{ matrix.platform.target }}/release/sandhole.exe dist/sandhole-${{ matrix.platform.key }}.exe
      - name: Upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: sandhole-${{ matrix.platform.key }}
          path: dist

  create-release-draft:
    name: Create release draft
    needs:
      - build-linux
      - build-macos
      - build-windows
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: true
      - name: Download Linux artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: sandhole-binaries
          path: out/
      - name: Download macos-amd64 artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: sandhole-macos-amd64
          path: out/
      - name: Download macos-arm64 artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: sandhole-macos-arm64
          path: out/
      - name: Download windows-amd64 artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: sandhole-windows-amd64
          path: out/
      - name: Create release draft with binary assets
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REF_NAME: ${{ github.ref_name }}
        run: gh release create "${REF_NAME}" ./out/sandhole-* --draft --verify-tag
