on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read

env:
  RUST_MSRV: 1.88.0
  CARGO_INCREMENTAL: 0
  CARGO_PROFILE_TEST_DEBUG: 0
  CARGO_LLVM_COV_VERSION: 0.6.20
  CARGO_NEXTEST_VERSION: 0.9.114

jobs:
  rustfmt-msrv:
    name: Check rustfmt formatting on MSRV
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Fetch MSRV
        run: |
          rustup toolchain install ${RUST_MSRV}-x86_64-unknown-linux-gnu
          rustup override set ${RUST_MSRV}-x86_64-unknown-linux-gnu
      - name: Run rustfmt
        run: |
          rustup component add rustfmt
          cargo fmt --check --all
  clippy-msrv:
    name: Check Clippy lints on MSRV
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Fetch MSRV
        run: |
          rustup toolchain install ${RUST_MSRV}-x86_64-unknown-linux-gnu
          rustup override set ${RUST_MSRV}-x86_64-unknown-linux-gnu
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      - name: Run Clippy
        run: |
          rustup component add clippy
          cargo clippy --all-targets -- -D warnings
  build-msrv-default-features:
    name: Build on MSRV (default features)
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Fetch MSRV
        run: |
          rustup toolchain install ${RUST_MSRV}-x86_64-unknown-linux-gnu
          rustup override set ${RUST_MSRV}-x86_64-unknown-linux-gnu
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      - name: Build
        run: |
          cargo build --locked
  build-msrv-no-default-features:
    name: Build on MSRV (no default features)
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Fetch MSRV
        run: |
          rustup toolchain install ${RUST_MSRV}-x86_64-unknown-linux-gnu
          rustup override set ${RUST_MSRV}-x86_64-unknown-linux-gnu
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      - name: Build
        run: |
          cargo build --locked --no-default-features
  tests-nightly:
    name: Run tests on nightly (${{ matrix.platform.runner }})
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
          - runner: macos-15-intel
            target: x86_64-apple-darwin
          - runner: macos-15
            target: aarch64-apple-darwin
    runs-on: ${{ matrix.platform.runner }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install cargo-nextest
        uses: taiki-e/install-action@3d30e7d625f7c928dccd48823053b03bb2f6ed05 # v2.65.4
        with:
          tool: cargo-nextest@${{ env.CARGO_NEXTEST_VERSION }}
      - name: Fetch nightly Rust
        run: |
          rustup toolchain install nightly-${{ matrix.platform.target }}
          rustup override set nightly-${{ matrix.platform.target }}
      - name: Test
        env:
          RUSTFLAGS: -A dead_code -A unused_variables
        run: |
          cargo nextest run --no-fail-fast --verbose --locked
  coverage-nightly:
    name: Test coverage on nightly (ubuntu-24.04)
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install cargo-llvm-cov and cargo-nextest
        uses: taiki-e/install-action@3d30e7d625f7c928dccd48823053b03bb2f6ed05 # v2.65.4
        with:
          tool: cargo-llvm-cov@${{ env.CARGO_LLVM_COV_VERSION }},cargo-nextest@${{ env.CARGO_NEXTEST_VERSION }}
      - name: Fetch nightly Rust
        run: |
          rustup toolchain install nightly-x86_64-unknown-linux-gnu
          rustup override set nightly-x86_64-unknown-linux-gnu
      - name: Test with coverage
        env:
          RUSTFLAGS: -A dead_code -A unused_variables
        run: |
          cargo llvm-cov nextest --no-fail-fast --verbose --codecov --locked --output-path codecov.json
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          files: ./codecov.json
          token: ${{ secrets.CODECOV_TOKEN }}
  check-nix-flake:
    name: Check Nix flake
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          extra_nix_config: |
            system-features = nixos-test benchmark big-parallel kvm
      - run: nix flake check
  build-nix-flake:
    name: Build Nix flake (${{ matrix.platform.system }})
    if: github.ref == 'refs/heads/main'
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: ubuntu-24.04
            system: x86_64-linux
          - runner: ubuntu-24.04-arm
            system: aarch64-linux
    runs-on: ${{ matrix.platform.runner }}
    needs:
      - rustfmt-msrv
      - clippy-msrv
      - build-msrv-default-features
      - build-msrv-no-default-features
      - tests-nightly
      - coverage-nightly
      - check-nix-flake
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: true
      - name: Install Nix
        uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          extra_nix_config: |
            system = ${{ matrix.platform.system }}
      - name: Setup Cachix
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: ${{ vars.CACHIX_NAME }}
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - run: nix build
  build-docker:
    name: Build Docker
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read
      packages: write
    needs:
      - rustfmt-msrv
      - clippy-msrv
      - build-msrv-default-features
      - build-msrv-no-default-features
      - tests-nightly
      - coverage-nightly
    uses: ./.github/workflows/build.yml
    secrets:
      dockerhub-push-token: ${{ secrets.DOCKERHUB_PUSH_TOKEN  }}
      ghcr-push-token: ${{ secrets.GITHUB_TOKEN }}
