name: Validate

on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read

env:
  RUST_MSRV: 1.88.0
  CARGO_INCREMENTAL: 0
  CARGO_PROFILE_TEST_DEBUG: 0
  CARGO_LLVM_COV_VERSION: 0.6.20
  CARGO_NEXTEST_VERSION: 0.9.114

jobs:
  rustfmt-msrv:
    name: Check rustfmt formatting on MSRV
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Fetch MSRV
        run: |
          rustup toolchain install ${RUST_MSRV}-x86_64-unknown-linux-gnu
          rustup override set ${RUST_MSRV}-x86_64-unknown-linux-gnu
      - name: Run rustfmt
        run: |
          rustup component add rustfmt
          cargo fmt --check --all
  clippy-msrv:
    name: Check Clippy lints on MSRV
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Fetch MSRV
        run: |
          rustup toolchain install ${RUST_MSRV}-x86_64-unknown-linux-gnu
          rustup override set ${RUST_MSRV}-x86_64-unknown-linux-gnu
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
      - name: Run Clippy
        run: |
          rustup component add clippy
          cargo clippy --all-targets -- -D warnings
  build-msrv-default-features:
    name: Build on MSRV (default features)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Fetch MSRV
        run: |
          rustup toolchain install ${RUST_MSRV}-x86_64-unknown-linux-gnu
          rustup override set ${RUST_MSRV}-x86_64-unknown-linux-gnu
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
      - name: Build
        run: |
          cargo build --locked
  build-msrv-no-default-features:
    name: Build on MSRV (no default features)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Fetch MSRV
        run: |
          rustup toolchain install ${RUST_MSRV}-x86_64-unknown-linux-gnu
          rustup override set ${RUST_MSRV}-x86_64-unknown-linux-gnu
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
      - name: Build
        run: |
          cargo build --locked --no-default-features
  tests-nightly:
    name: Run tests on nightly (${{ matrix.platform.runner }})
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
          - runner: macos-15-intel
            target: x86_64-apple-darwin
          - runner: macos-15
            target: aarch64-apple-darwin
    runs-on: ${{ matrix.platform.runner }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Install cargo-nextest
        uses: taiki-e/install-action@59679e24ffb0dbbbc136684eda7fcd21fe9eddea # v2.63.0
        with:
          tool: cargo-nextest@${{ env.CARGO_NEXTEST_VERSION }}
      - name: Fetch nightly Rust
        run: |
          rustup toolchain install nightly-${{ matrix.platform.target }}
          rustup override set nightly-${{ matrix.platform.target }}
      - name: Test
        env:
          RUSTFLAGS: -A dead_code -A unused_variables
        run: |
          cargo nextest run --no-fail-fast --verbose --locked
  coverage-nightly:
    name: Test coverage on nightly (ubuntu-24.04)
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Install cargo-llvm-cov and cargo-nextest
        uses: taiki-e/install-action@59679e24ffb0dbbbc136684eda7fcd21fe9eddea # v2.63.0
        with:
          tool: cargo-llvm-cov@${{ env.CARGO_LLVM_COV_VERSION }},cargo-nextest@${{ env.CARGO_NEXTEST_VERSION }}
      - name: Fetch nightly Rust
        run: |
          rustup toolchain install nightly-x86_64-unknown-linux-gnu
          rustup override set nightly-x86_64-unknown-linux-gnu
      - name: Test with coverage
        env:
          RUSTFLAGS: -A dead_code -A unused_variables
        run: |
          cargo llvm-cov nextest --no-fail-fast --verbose --codecov --locked --output-path codecov.json
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          files: ./codecov.json
          token: ${{ secrets.CODECOV_TOKEN }}
  nix-flake-check:
    name: Check Nix flake
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - run: nix build
      - run: nix flake check
  build-main:
    name: Build on main
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read
      packages: write
    needs:
      - rustfmt-msrv
      - clippy-msrv
      - build-msrv-default-features
      - build-msrv-no-default-features
      - tests-nightly
      - coverage-nightly
    uses: ./.github/workflows/build.yml
    secrets:
      dockerhub-push-token: ${{ secrets.DOCKERHUB_PUSH_TOKEN  }}
      ghcr-push-token: ${{ secrets.GITHUB_TOKEN }}
